
@font-face { font-family: 'Vollkorn'; src: url('/fonts/Vollkorn-Regular.ttf'); }
@font-face { font-family: 'Open Sans'; src: url('/fonts/OpenSans-Regular.ttf'); }

/* bootstrap overrides */
body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
}
a, [ng-click] {
    cursor: pointer;
}
.container {
    width: 100%;
}
.navbar-inverse {
    background: #4C4034;
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 22pt;
}
.well {
    border: solid #999 1px;
    background: #E0DFD9;
}
.well .btn-default {
    background: #EAE9E3;
    color: #666;
}
.dl-horizontal dt {
    width: 120px;
    text-align: left;
}
.dl-horizontal dd {
    margin-left: 120px;
}
.form-inline select.form-control {
    width: auto;
}

/* bootstrap augments */
.navbar .dropdown-menu {
    top: 50px;
    min-width: 200px;
}
.nav-pills-sm > li > a {
    padding: 5px 10px;
}
.textarea-fixed {
    resize: none;
}

/* card selection styles */

.card-selector-images button img {
    height: 135px;
}

.card-selector,
textarea.card-raw {
    height: 325px;
    margin-bottom: 2px;
}
.card-selector {
    overflow: hidden;
}
textarea.card-raw {
    height: 700px;
    margin-bottom: 2px;
}
.selected-card-list {
    height: 700px;
    margin-bottom: 2px;
    overflow-y: auto;
    font-size: 10pt;
}
.selected-card-list .card-cost {
    font-weight: bold;
    text-align: center;
}
.selected-card-list .card-name {
    border-right: none;
}
.selected-card-list th.card-quantity {
    border-left: none;
}
.selected-card-list td.card-quantity {
    width: 40px;
    padding: 0;
    border-left: none;
    text-align: center;
}
.selected-card-list td.card-quantity > div {
    height: 28px;
    border: solid #aaa 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 26px;
    background: #efefef;
    color: #000;
}
.selected-card-list td.card-quantity i {
    color: #428bca ;
}
.selected-card-list .card-attack,
.selected-card-list .card-health,
.selected-card-list .card-value {
    text-align: center;
}
.list-col3 li {
    display: inline-block;
    width: 33.3%;
}
.list-col6 li {
    display: inline-block;
    width: 16.6%;
}
.list-col3 li button,
.list-col3 li button {
    width: 100%;
}
.btn-paging-prev,
.btn-paging-next {
    position: absolute;
    width: 25px;
    height: 290px;
    padding: 5px;
}
.btn-paging-prev {
    left: 15px;
}
.btn-paging-next {
    right: 15px;
}
.btn-group-cost .btn.current {
    height: 30px;
    border-bottom: solid #5cb85c 3px;
    color: #fff;
}

/* chart styles */
#card-graph {
    width: 100%;
    height: 300px;
    border: dotted #aaa 1px;
}