
@font-face { font-family: 'Vollkorn'; src: url('/fonts/Vollkorn-Regular.ttf'); }
@font-face { font-family: 'Open Sans'; src: url('/fonts/OpenSans-Regular.ttf'); }

/* bootstrap overrides */
body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
}
a, [ng-click] {
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }
}
.navbar-inverse {
    background: #4C4034;
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 22pt;
}
.navbar-brand i {
    line-height: 0em;
}
.navbar-form .alert {
    padding: 6px 15px;
    margin-bottom: 0;
    margin-right: 25px;
}
.well {
    border: solid #999 1px;
    background: #E0DFD9;
}
.well .btn-default {
    background: #EAE9E3;
    color: #333;
    border-width: 1px;
    border-color: #333;
}
.dl-horizontal dt {
    width: 120px;
    text-align: left;
}
.dl-horizontal dd {
    margin-left: 120px;
}
.form-inline select.form-control {
    width: auto;
}
.col-md-4 img {
    max-width: 100%;
}

/* bootstrap augments */
.navbar .dropdown-menu {
    top: 50px;
    min-width: 200px;
}
.navbar-stats {
    font-size: 18pt;
    font-family: 'Vollkorn', serif;
}
.nav-pills-sm > li > a {
    padding: 5px 10px;
}
.textarea-fixed {
    resize: none;
}
[copy-button] {
    cursor: pointer;
}
[copy-button]:hover {
    background: #e8e8e8;
}

/* mini/image version */
.mini {
    width: 625px;
    padding-top: 0;
}
.mini #card-graph {
    width: 100%;
    height: 150px;
    border: dotted #aaa 1px;
}
.mini .brand {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 5px;
    background: #4C4034;
    color: #aaa;
    font-family: 'Vollkorn', serif;
}
.mini .brand h1 {
    display: inline-block;
    width: 50%;
    margin: 0;
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 15pt;
}

/* card selection styles */
.card-selector-images button img {
    height: 205px;
}
.card-selector,
textarea.card-raw {
    height: 425px;
    margin-bottom: 2px;
}
.card-selector {
    padding: 5px 30px;
    overflow: hidden;
}
textarea.card-raw {
    height: 700px;
    margin-bottom: 2px;
}
.selected-card-list {
    height: 700px;
    margin-bottom: 2px;
    overflow-y: auto;
    font-size: 10pt;
}
.mini .selected-card-list {
    height: auto;
}
.selected-card-list table td a {
    display: block;
    width: 100%;
}
.selected-card-list table .card-cost {
    font-weight: bold;
    text-align: center;
}
.selected-card-list table .card-name {
    border-right: none;
}
.selected-card-list table th.card-quantity {
    border-left: none;
}
.selected-card-list table td.card-quantity {
    width: 40px;
    padding: 0;
    border-left: none;
    text-align: center;
}
.selected-card-list table td.card-quantity > div {
    height: 28px;
    border: solid #aaa 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 26px;
    background: #efefef;
    color: #000;
}
.selected-card-list table td.card-quantity i {
    color: #428bca ;
}
.selected-card-list table .card-attack,
.selected-card-list table .card-health,
.selected-card-list table .card-value {
    text-align: center;
}

ul.selected-card-list li {
    padding: 5px;
    border: solid #bbb 1px;
    border-radius: 2px;
    font-size: 10pt;
}
ul.selected-card-list .card-quantity {
    float: right;
}
ul.selected-card-list.list-col3 li {
    display: inline-block;
    width: 32.25%;
    margin: 0 3px 2px 3px;
}
.card-list li {
    padding: 5px 0;
}
.card-list li button {
    font-size: 13pt;
}

.list-col3 li {
    display: inline-block;
    width: 33.3%;
}
.list-col5 li {
    display: inline-block;
    width: 20%;
}
.list-col6 li {
    display: inline-block;
    width: 16.6%;
}
.list-col3 li button,
.list-col5 li button,
.list-col6 li button {
    padding: 0;
    width: 100%;
}
.list-col3 li img {
    max-width: 100%;
}
.btn-paging-prev,
.btn-paging-next {
    position: absolute;
    top: 18px;
    width: 25px;
    height: 390px;
    padding: 5px;
}
.btn-paging-prev {
    left: 15px;
}
.btn-paging-next {
    right: 15px;
}
.btn-paging-more {
    position: absolute;
    top: 370px;
    right: 50px;
}
.btn-group-cost {
    padding-right: 0;
    text-align: right;
}
.btn-group-cost .dropdown-menu {
    text-align: left;
}
.btn-group-cost .btn.current {
    height: 30px;
    border-bottom: solid #FFC43D 5px;
    color: #fff;
}

/* chart styles */
#card-graph {
    display: block;
    width: 100%;
    height: 250px;
    border: dotted #ccc 1px;
}

/* index */
.list-deckcollection .image {
    height: 215px;
    text-align: center;
    overflow: hidden;
}