<!DOCTYPE html>
<html ng-app="deckstats">
<% include head.ejs %>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <div class="dropdown">
                <a class="navbar-brand" data-toggle="dropdown">
                    topdeck.io <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="newDeck()"><i class="fa fa-file-text"></i> New</a></li>
                    <li><a ng-click="saveDeck()"><i class="fa fa-save"></i> Save</a></li>
                    <li><a ng-click="forkDeck()"><i class="fa fa-code-fork"></i> Copy</a></li>
                    <li class="divider"></li>
                    <li>
                        <a copy-button="topdeck.io/decks/{{deck.guid}}">
                            <i class="fa fa-link"></i> Copy URL to clipboard
                        </a>
                    </li>
                    <li>
                        <a copy-button="topdeck.io/decks/{{deck.guid}}.png">
                            <i class="fa fa-picture-o"></i> Copy picture to clipboard
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/" target="_self"><i class="fa fa-home"></i> Back to index</a></li>
                </ul>
            </div>
        </div>

        <div class="navbar-right navbar-form">
            <button type="button" class="btn btn-default" ng-show="!deck.editable" ng-click="forkDeck()">
                <i class="fa fa-code-fork"></i> Copy
            </button>
            <button type="button" class="btn btn-success" ng-show="deck.editable" ng-click="saveDeck()" ng-disabled="!deck.changes">
                <i class="fa fa-save"></i> Save
            </button>
            <button type="button" class="btn btn-info" ng-click="newDeck()">
                <i class="fa fa-file-text"></i> New
            </button>
        </div>

        <div class="navbar-right navbar-form navbar-stats">
            <span title="Copied {{deck.forked}} times">
                <i class="fa fa-code-fork"></i> {{deck.forked}}
            </span>&nbsp;
            <span title="Viewed {{deck.viewed}} times">
                <i class="fa fa-eye"></i> {{deck.viewed}}
            </span>
        </div>

        <div class="navbar-right navbar-form">
            <div class="alert alert-success" ng-show="notification">
                {{notification}}
            </div>
        </div>

    </div>
</header>

<div class="container">

    <div class="row" ng-controller="CardSelectionController">
        <div class="col-md-9">

            <div class="well card-selector">

                <div class="alert alert-warning" ng-show="cardPagesCount == 0">
                    No cards meet the chosen criteria &mdash;
                    <a class="alert-link" ng-click="textFilter = null">Click here to clear filter</a>
                </div>

                <button class="btn btn-default btn-paging-prev" ng-hide="cardPagesIndex == 0" ng-click="cardPagesIndex = cardPagesIndex-1">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-default btn-paging-next" ng-hide="cardPagesCount <= 1 || cardPagesIndex == cardPagesCount-1" ng-click="cardPagesIndex = cardPagesIndex+1">
                    <i class="fa fa-chevron-right"></i>
                </button>
                <div ng-switch="mode">
                    <div ng-switch-when="Cards">
                        <ul class="card-selector-images list-unstyled list-col5">
                            <li ng-repeat="card in currentPage">
                                <button class="btn btn-link"
                                        tooltip="{{card.title}}"
                                        ng-click="addCard(card)">
                                    <img ng-src="/img/cards/{{card.imageName}}.png" />
                                </button>
                            </li>
                        </ul>
                        <button class="btn btn-lg btn-link btn-paging-more"
                                ng-hide="currentPage.length == 10 || cardPagesCount <= 1 || cardPagesIndex == cardPagesCount-1"
                                ng-click="cardPagesIndex = cardPagesIndex+1">
                            Neutral cards <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                    <div ng-switch-when="List">
                        <ul class="card-list list-unstyled list-col3">
                            <li ng-repeat="card in currentPage">
                                <button class="btn btn-link"
                                        tooltip="{{card.title}}"
                                        ng-click="addCard(card)">
                                    {{card.name}}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- selector options -->
            <ul class="col-xs-2 nav nav-pills nav-pills-sm">
                <li ng-class="{active: mode == 'Cards'}"><a ng-click="mode = 'Cards'">Cards</a></li>
                <li ng-class="{active: mode == 'List'}"><a ng-click="mode = 'List'">List</a></li>
            </ul>

            <div class="col-xs-4 text-right">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Filter cards" ng-model="textFilter" />
                    <span class="input-group-btn btn-group-sm">
                        <button type="button" class="btn btn-default" ng-disabled="!textFilter" ng-click="textFilter = null">Clear</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-6 btn-group-cost">

                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary"
                            ng-class="{current: viewCost == 'hero'}"
                            ng-click="costFilter = 'All'">
                        {{deck.hero}}
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-caret-down"></i>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="option in heroOptions">
                            <a ng-click="$parent.deck.hero = option">{{option}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary"
                            ng-class="{active: $parent.costFilter == cost, current: $parent.viewCost == cost}"
                            ng-click="$parent.costFilter = cost"
                            ng-repeat="cost in costFilters">
                        {{cost}}
                    </button>
                </div>
            </div>
            <!-- end selector options -->

            <hr style="clear: both; margin-top: 50px;"/>

            <div ng-controller="ChartController">

                <div class="form-inline pull-right">

                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="showDrawChance"> Draw chance
                        </label>
                    </div>
                    <div class="form-group">
                        <label>, going</label>
                        <select class="form-control input-sm" ng-model="startingHand" ng-options="option.value as option.label for option in startingOptions"></select>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#graph" data-toggle="tab">Statistics</a></li>
                    <!--<li><a href="#test" data-toggle="tab">Test</a></li>-->
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="graph">

                        <div class="row" >
                            <div class="col-md-2">
                                <!--
                                <ul class="list-unstyled">
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="showDrawChance"> Turn draw chance
                                        </label>
                                    </li>
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="showLineAttack"> Minion attack
                                        </label>
                                    </li>
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="showLineHealth"> Minion health
                                        </label>
                                    </li>
                                </ul>
                                -->
                                <dl class="dl-horizontal">
                                    <dt>Minions:</dt>
                                    <dd>{{graphData.minions}}</dd>
                                    <dt>Spells:</dt>
                                    <dd>{{graphData.spells}}</dd>
                                    <dt>Weapons:</dt>
                                    <dd>{{graphData.weapons}}</dd>
                                    <dt>Battlecries:</dt>
                                    <dd>{{graphData.battlecries}}</dd>
                                    <dt>Secrets:</dt>
                                    <dd>{{graphData.secrets}}</dd>
                                    <dt>Legendaries:</dt>
                                    <dd>{{graphData.legendaries}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-10">
                                <svg id="card-graph" card-graph="graphData">
                                </svg>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="test">
                        <p>This is where testing draws will go!</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="selected-card-list" ng-show="!rawVisible">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Deck title" ng-model="deck.title" />
                </div>

                <div class="alert alert-info text-center" ng-show="deck.cards.length == 0">
                    No cards have been added
                </div>

                <table class="table table-bordered table-condensed" ng-show="deck.cards.length > 0">
                    <thead>
                        <tr>
                            <th class="card-cost"></th>
                            <th class="card-name"></th>
                            <th class="card-quantity"></th>
                            <th class="card-attack"><i class="fa fa-tint"></i></th>
                            <th class="card-health"><i class="fa fa-shield"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in deck.cards">
                            <td class="card-cost">
                                {{card.cost}}
                            </td>
                            <td class="card-name">
                                <a ng-click="removeCard(card)" tooltip="{{card.title}}">{{card.name}}</a>
                            </td>
                            <td class="card-quantity" ng-mouseenter="card.hover = true" ng-mouseleave="card.hover = false">
                                <div ng-show="card.quality == 5">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div ng-if="card.quality != 5 && card.quantity == 1" ng-show="card.hover">
                                    <a ng-click="addCard(card)">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div ng-if="card.quality != 5 && card.quantity > 1">
                                    <a ng-click="removeCard(card)">
                                        x{{card.quantity}}
                                    </a>
                                </div>
                            </td>
                            <td class="card-attack">
                                {{card.attack}}
                            </td>
                            <td class="card-health">
                                {{card.health || card.durability}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <textarea class="form-control textarea-fixed card-raw" rows="15" ng-model="rawSelection" ng-show="rawVisible">
            </textarea>
            <div class="pull-left">
                {{count()}} / 30
            </div>
            <div class="pull-right">
                <button class="btn btn-info btn-sm" ng-class="{active: rawVisible}" ng-click="rawVisible = !rawVisible">Edit</button>
            </div>
        </div>
    </div>



</div>

</body>
</html>