<!DOCTYPE html>
<html ng-app="deckstats">
<head>
    <title>Deckstats</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/js/vendor/lodash.min.js"></script>
    <script src="/js/vendor/jstat.min.js"></script>
    <script src="/js/vendor/snap.svg-min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/angular.js"></script>
    <script src="/js/vendor/angular-resource.min.js"></script>
    <script src="/js/app/all-cards.js"></script>
    <script src="/js/app/deckstats.js"></script>
    <script src="/js/app/deckstats-graphing.js"></script>
    <script src="/js/app/services/CardLookup.js"></script>
    <script src="/js/app/services/Deck.js"></script>
    <script src="/js/app/controllers/HeaderController.js"></script>
    <script src="/js/app/controllers/CardSelectionController.js"></script>
    <script src="/js/app/controllers/ChartController.js"></script>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <div class="dropdown">
                <a class="navbar-brand" data-toggle="dropdown">
                    topdeck.io <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a><i class="fa fa-file-text"></i> New</a></li>
                    <li><a ng-click="saveDeck()"><i class="fa fa-save"></i> Save</a></li>
                    <li><a><i class="fa fa-code-fork"></i> Fork</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-success" ng-click="saveDeck()">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
</header>

<div class="container">

    <div class="row" ng-controller="CardSelectionController">
        <div class="col-md-8">
            <div class="well card-selector">
                <button class="btn btn-default btn-paging-prev" ng-hide="cardPagesIndex == 0" ng-click="cardPagesIndex = cardPagesIndex-1">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-default btn-paging-next" ng-hide="cardPagesIndex == cardPagesCount-1" ng-click="cardPagesIndex = cardPagesIndex+1">
                    <i class="fa fa-chevron-right"></i>
                </button>
                <div ng-switch="mode">
                    <div ng-switch-when="Cards">
                        <ul class="card-selector-images list-unstyled list-col6">
                            <li ng-repeat="card in currentPage">
                                <button class="btn btn-link"
                                        title="{{card.title}}"
                                        ng-click="addCard(card)">
                                    <img src="/img/cards/{{card.name}}.png"/>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="List">
                        <ul class="card-list list-unstyled list-col3">
                            <li ng-repeat="card in currentPage">
                                <button class="btn btn-link"
                                        title="{{card.title}}"
                                        ng-click="addCard(card)">
                                    {{card.name}}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-pills-sm pull-left">
                <li ng-class="{active: mode == 'Cards'}"><a ng-click="mode = 'Cards'">Cards</a></li>
                <li ng-class="{active: mode == 'List'}"><a ng-click="mode = 'List'">List</a></li>
            </ul>
            <div class="btn-group-cost pull-right">

                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown"
                            ng-class="{current: viewCost == 'hero'}">
                        {{deck.hero}} <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="option in heroOptions">
                            <a ng-click="$parent.deck.hero = option">{{option}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary"
                            ng-class="{active: $parent.costFilter == cost, current: $parent.viewCost == cost}"
                            ng-click="$parent.costFilter = cost"
                            ng-repeat="cost in costFilters">
                        {{cost}}
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="selected-card-list">

                <div class="alert alert-info text-center" ng-show="deck.cards.length == 0">
                    No cards have been added
                </div>

                <table class="table table-bordered" ng-show="!rawVisible && deck.cards.length > 0">
                    <thead>
                        <tr>
                            <th class="card-cost"></th>
                            <th class="card-name"></th>
                            <th class="card-quantity"></th>
                            <th class="card-attack"><i class="fa fa-tint"></i></th>
                            <th class="card-health"><i class="fa fa-shield"></i></th>
                            <th class="card-value">V</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in deck.cards">
                            <td class="card-cost">
                                {{card.cost}}
                            </td>
                            <td class="card-name">
                                <a ng-click="removeCard(card)">{{card.name}}</a>
                            </td>
                            <td class="card-quantity">
                                <div ng-show="card.quantity > 1">
                                    x{{card.quantity}}
                                </div>
                            </td>
                            <td class="card-attack">
                                {{card.attack}}
                            </td>
                            <td class="card-health">
                                {{card.health || card.durability}}
                            </td>
                            <td class="card-value">
                                {{card.value || ''}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <textarea class="form-control textarea-fixed card-raw" rows="15" ng-model="rawSelection" ng-show="rawVisible">
            </textarea>
            <div class="pull-left">
                {{count()}} / 30
            </div>
            <div class="pull-right">
                <button class="btn btn-info btn-sm" ng-class="{active: rawVisible}" ng-click="rawVisible = !rawVisible">Edit</button>
            </div>
        </div>
    </div>

    <hr/>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#graph" data-toggle="tab">Graph</a></li>
        <!--<li><a href="#test" data-toggle="tab">Test</a></li>-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="graph">

            <div class="row" ng-controller="ChartController">
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="showDrawChance"> Turn draw chance
                            </label>
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="showLineAttack"> Minion attack
                            </label>
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="showLineHealth"> Minion health
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <svg id="card-graph" card-graph="graphData">
                    </svg>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="test">
            <p>This is where testing draws will go!</p>
        </div>
    </div>

</div>

</body>
</html>